// SCSS entry file
// Import order: variables -> mixins -> base -> layout -> components -> animations

@use "./variables" as *;
@use "./mixins" as *;
@use "./base";
@use "./layout";
@use "./components";
@use "./animations";
@use "./navbar";
@use "./hero";
@use "./button";
@use "./journey";
@use "./aboutsection";
@use "./partners";
@use "./press";
@use "./utilities";
@use "./download";
@use "./footer";
// Global app-level styles can go here
:root {
  color-scheme: light dark;
}

body {
  background: $color-background;
  color: $color-text;
  overflow-x: hidden !important;
  width: 100%;

  p {
    font-size: $space-6;
    color: $color-neutral;
    font-weight: 400;
    width: 94%;
    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center !important;
      font-size: 1rem !important;
    }
  }
  h2 {
    font-size: $space-10 !important;
    @media screen and (max-width: 768px) {
      font-size: 1.75rem !important;
    }
  }

  .lg-but{
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
