// SCSS entry file
// Import order: variables -> mixins -> base -> layout -> components -> animations

@use "./variables" as *;
@use "./mixins" as *;
@use "./base";
@use "./layout";
@use "./components";
@use "./animations";
@use "./navbar";
@use "./hero";
@use "./button";
@use "./journey";
@use "./aboutsection";
// Global app-level styles can go here
:root {
  color-scheme: light dark;
}

body {
  background: $color-background;
  color: $color-text;
  overflow-x: hidden;
   p {
    font-size: $space-6;
    color: $color-neutral;
    font-weight: 400;
    width: 94%;
    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center !important;
    }
  }
  h2{
    font-size: $space-10 !important;
  }
.partners-section {
  .eyebrow { color: #ff5634; letter-spacing: .06em; font-weight: 700; }
  .partner-item { max-width: 520px; margin-inline: auto; }
  .partner-img { display: block; margin-inline: auto; }
}

}

